h1 {text-align:center;font-weight:bold;color:green;}
p{font-size:10pt;color:red;font-weight:bold;font-family:Arial,helvetica;}
body{background-color: black; background-image: url("virat.jpg");
    background-repeat: repeat-x;
background-repeat: repeat-y;
}
a{color:yellowgreen;}
img{
    border-style: groove;
    border-width: 10pt;
    border-color: brown;
}
h2 {text-align:left;font-weight:bold;color:green;}
h3 {text-align:left;font-weight:bold;color:grey;}
